body#itrend-vis {
	background-color: #F1F1F1;
}

#itrend-vis .container-fluid {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#itrend-vis .itrend-tabs a {
	border-radius: 0;
	background-color: #26a69a;
	text-transform: uppercase;
	font-size: 14px;
}

#itrend-vis .itrend-tabs a:visited {
	color: white;
}

#itrend-filters .child-term {
	margin-left: 12px;
}

#itrend-filters .status-row {
	margin-bottom: 24px;
}

#itrend-filters .form-check-input {
	margin-right: 12px;
}

#itrend_table_results td.actor_name {
	font-weight: bold;
}

#itrend_table_results td.actor_name span.codigo {
	display: block;
}

#itrend-filters #accordion-filters .card-header {
	cursor: pointer;
}

#itrend-filters #accordion-filters .card-header i {
	float: right;
}

#itrend-filters #accordion-filters .card-header.collapsed i {
	transform: rotate(180deg);
}

.ficha-actor .info-right {
	text-align: right;
}

.ficha-actor h1, .ficha-actor h2, .ficha-actor h3, .ficha-actor .title-col {
	color: #8900D4;
	font-weight: bold;
}

.actor-header {
	margin: 24px 0;
}

.actor-header h2 {
	margin: 0;
}

.actor-header h1 {
	margin-top: 0;
	padding-bottom: 12px;
	border-bottom: 1px solid #8900D4;
	margin-bottom: 0;
}

.itrend-datos-contacto {
	color: #8900D4;
	border: 1px dashed #8900D4;
	border-top: 0;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-top: 24px;
}

.info-private {
	background-color: #ccc;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.fields-info-single {
	margin-bottom: 6px;
}

.info-left .sector {
	color: #8900D4;
	margin: 6px 0 24px 0;
}

.mision-content {
	color: #555;
	font-style: italic;
}

#itrend-vis-main-header {
	margin-top: 24px;
}