
//Colores de sectores

	$estado: #00bbee;
	$privado: #fec035;
	$academia: #ef4853;
	$osfl: #732ad1;
	$otro: #00aea5;

body#itrend-vis {
	background-color: #F1F1F1;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	
	@import 'custom-materialize.scss';
	@import 'itrend-ficha-actor.scss';

	.container-fluid {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		&.maxfluid {
			max-width: 1600px;
		}
	}

	&.home {
		background-image: url('../img/bg_mapa_60.jpg');
		background-repeat: no-repeat;
		background-size: fit;
		background-position: bottom center;
	}

	.top-menusection {
		position: absolute;
		top: 0;
		right: 0;
		a.itrend-tab {
			font-weight: normal;
		}
	}

	#itrend-vis-main-header {
		padding-top: 0;
		background-color: transparent;
	}

	.topnav-header {
		.container-fluid {
			background-color: #12004F;
			color: white;
			height: 42px;
			text-align: right;
			font-weight: bold;
			position: relative;
			box-shadow: none;
		}

		.top-links {
			position: absolute;
			right: 38px;
			top: -12px;
		}

		a {
			display: inline-block;
			line-height: 22px;
			padding: 12px;
			font-size: 12px;
			text-transform: uppercase;
			margin: -12px 0 0 0;
		}
	}

	.row-logo {
		margin-bottom:0;
		img {
			width: 250px;
			height: auto;
			margin-top: 4px;
		}
		em {
			font-size: 36px;
			line-height: 24px;
			vertical-align: 17px;
			font-weight: bold;
			color: #555;
			margin-right: 24px;
			font-family: 'Open Sans', sans-serif;
			color: #C62828;
			text-transform: uppercase;
			display: none;
		}
	}

	.itrend-tabs {
		text-align: right;
		margin-top: 2px;
	}



	a.itrend-tab {
		display: inline-block;
		border-radius: 0;
		padding: 12px 24px;
		font-weight: bold;
		font-size: 14px;
		color: #373869;
		&:visited {
			color: #373869;
		}
		&.active {
			background-color: #F1F1F1;
		}
		&.muted {
			font-weight: normal;
		}
	}

	.itrend-subtabs {
		a {
			padding: 8px 24px;
			margin-top: 16px;
			&.first {
				border-right: 2px solid #373869;
			}
		}
	}

	.right-section {
		text-align: right;
	}

	.itrend-section-title {
		font-size: 24px;
		font-weight: bold;
		color: #24255B;
		margin: 15px 0 8px 0;
		padding-bottom: 0;
	}

	.row-presentation-section {
		margin-bottom: 6px;
	}

	.introtext {
		margin: 0;
		p {
			margin: 3px 0;
		}
	}

	.visualizer {
		margin: 0 15px;
	}

	.child-term {
		margin-left: 12px;
	}

	.status-row {
		margin-bottom: 0;
	}

	.form-check-input {
		margin-right: 12px;
	}

	td.actor_name {
		font-weight: bold;
	}

	td.actor_name span.codigo {
		display: block;
	}

	.card-header {
		cursor: pointer;
	}

	.card-header i {
		float: right;
	}

	h5.mb-0 {
		font-size: 20px;
		margin:0;
		font-weight: bold;
	}

	.flex-row {
		display: flex;
	}

	.buttons-section {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.row-links-main,
	.buttons-section {
		a {
			font-weight: bold;
		}
		
		a.btn-action-mapa {
			background-color: #12004F;
		}
		a.btn-action-buscador {
			background-color: #FF0032;
		}
		a.btn-action-proyecto {
			background-color: #878A8B;
		}
	}	

	.row-links-main {
		background-color: #F1F1F1;
		text-align: right;
		padding-top: 2px;
	}

	.logo-home {
		margin: 0 auto 32px auto;
		max-width: 300px;
		display: block;
		height: auto;
	}

	#itrend-filters #accordion-filters .card-header.collapsed i {
		transform: rotate(180deg);
	}

	#itrend-filters {

		h5 {
			font-size: 16px;
		}

		h2 {
			font-size: 20px;
		}

		[type="checkbox"] + span:not(.lever) {
			font-size: 14px;
			padding-left: 30px;
		}

		.collapsible-body {
			padding: .5rem 1rem;
		}

		.collapsible-header i {
			font-size: 18px;
		}

		.parent-term {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid #ccc;
		}

		.termcount-some, 
		.termcount-none {
			font-size: 12px;
			background-color: #555;
			color: white;
			display: inline-block;
			margin: 3px;
			padding: 2px 4px;
			line-height: 14px;
			border-radius: 3px;
		}

		.termcount-none {
			background-color: #ccc;
		}

		.filter-item {
			display: block;
			background-color: transparent;
			color: #333;
			border: 1px solid #ccc;
			margin: 6px 0;
			padding: 6px;
			box-shadow: none;
			@extend .z-depth-2;
			i {
				color: #555;
			}
		}

		.filters-info-zone.panel {
			margin-top: 16px;
		}

		#itrend_search {
			margin-top: 48px;
			margin-bottom: 48px;
			overflow: hidden;
			input {
				background-color: white;
				padding-left: 24px;
				padding-right: 24px;
			}

			.input-field .prefix  {
				top: 0;
			}
		}
	}

	.intro-presentation {
		img {
			max-width: 300px;
			height: auto;
		}
		span.border {
			display: block;
			margin: 0 auto;
			border-bottom: 1px solid #333;
			width:90%;
		}
	}

	.term-checkbox-wrap {
		margin-bottom: 6px;
		label {
			color: #333;
		}
	}

	.append-zone-filter .btn {
		margin-bottom: 12px;
		width: 100%;
	}

	.orgs-filter-list h2 {
		font-size: 24px;
		font-weight: bold;
	}

	#itrend-home.container {
		display: flex;
		min-height: 80vh;
		align-items: center;
		@media screen and (min-width: 993px) {
			width: 95%;
		}
	}

	#itrend-home {
		margin-top: 24px;
		.itrend-section-title {
			display: inline-block;
			text-decoration: none;

			.mapa {
				color: #FF0032;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 42px;
				display: block;
				line-height:44px;
			}
			.deactores {
				color: #424185;
				font-size: 32px;
			}
		}
		.row-buttons {
			margin-top: 24px;
			text-align: center;
			.col-m6 {
				text-align: center;
			}
		}
	}

	.notfound-actors {
		padding: 24px;
	}

	.itrend-email-fixes {
		text-align: center;
		color: #333;
		padding: 12px 24px;
		margin: 32px 120px;
		border-bottom: 1px solid #333;
		font-weight: bold;
		display: inline-block;
		a {
			color: #333;
		}
	}

	@import 'buttons';

}


body#itrend-vis {
	&.admin-bar .top-menusection {
		top: 32px;
	}
}

body#itrend-vis {
	#container {
		canvas {
			font-family: 'Open Sans', sans-serif;


			.tooltip {
				font-family: 'Open Sans', sans-serif;
			}
		}

	}
}

body#itrend-vis {
	
	#data {
		position: relative;
	}

	.info-extra-vis {
		position: absolute;
		width: 300px;
		z-index: 10;
		left: 24px;
		top: 0;

		img {
			max-width: 300px;
			height: auto;
		}
	}
}

body#itrend-vis {
	.links-stuff, 
	.row-links-main {
		a.btn-home,
		a.btn-action {
			padding: 0 12px 0 12px;
			width: 260px;
			display: inline-block;
			margin: 0 5px;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 46px;
			vertical-align: middle;
			box-shadow: 0 0 3px #333;
			text-align: center;
			img {
				max-width: 32px;
				height: auto;
				vertical-align: middle;
				margin-right: 6px;
			}
			&.btn-action-buscador {
				img {
					max-width: 32px;
				}
			}
		}
	}

	.row-links-main {
		a.btn-action {
			margin: -1px -5px;
			box-shadow: none;
			line-height: 36px;
			font-size: 14px;
			width: 210px;
			img {
				margin-top: -2px;
				max-width:28px;
			}
		}
	}
}

body#itrend-vis #itrend_visualization_footer {
	margin-top: 24px;
	background-color: #EBEAE8;
	padding: 12px 0;

	.container {
		width:95%;
		max-width: 1280px;
	}

	.row {
		margin-bottom: 0;
	}

	.flex-row {
		align-items: center;
	}

	.logoconecta {
		text-align: left;
			img {
				max-width: 300px;
				margin-top: 24px;
			}
	}

	.logos-footer img {
		width: 100%;
		margin-top: 24px;
	}
}

body#itrend-vis #itrend_table_results {
	td.actor_name {
		min-width: 260px;
	}
	td.sector {
		font-size: 14px;
		min-width: 200px
	}
	td.alcance, td.tareas, td.acciones {
		font-size: 14px;
	}
}