

body#itrend-vis {
	background-color: #F1F1F1;
	font-family: 'Open Sans', sans-serif;
	
	@import 'custom-materialize.scss';
	@import 'itrend-ficha-actor.scss';

	.container-fluid {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	#itrend-vis-main-header {
		padding-top: 24px;
		background-color: white;
	}


	.row-tabs {
		margin-bottom: 0;
		margin-top: -18px;
	}

	.row-logo {
		margin-bottom:0;
	}

	.itrend-tabs {
		text-align: right;
	}

	a.itrend-tab {
		display: inline-block;
		border-radius: 0;
		padding: 12px 24px;
		font-weight: bold;
		font-size: 14px;
		color: #373869;
		&:visited {
			color: #373869;
		}
		&.active {
			background-color: #F1F1F1;
		}
	}

	.itrend-subtabs {
		a {
			padding: 8px 24px;
			margin-top: 16px;
			&.first {
				border-right: 2px solid #373869;
			}
		}
	}

	.right-section {
		text-align: right;
	}

	.itrend-section-title {
		font-size: 36px;
		font-weight: bold;
		color: #24255B;
		margin: 15px 0;
		padding-bottom: 12px;
	}

	.introtext {
		margin: 15px 0;
	}

	.visualizer {
		margin: 15px;
	}

	.child-term {
		margin-left: 12px;
	}

	.status-row {
		margin-bottom: 24px;
	}

	.form-check-input {
		margin-right: 12px;
	}

	td.actor_name {
		font-weight: bold;
	}

	td.actor_name span.codigo {
		display: block;
	}

	.card-header {
		cursor: pointer;
	}

	.card-header i {
		float: right;
	}

	h5.mb-0 {
		font-size: 20px;
		margin:0;
		font-weight: bold;
	}

	.logo-home {
		margin: 32px 0;
	}

	#itrend-filters #accordion-filters .card-header.collapsed i {
		transform: rotate(180deg);
	}

	#itrend-filters {
		.collapsible-body {
			padding: .5rem 1rem;
		}

		.parent-term {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid #ccc;
		}

		.termcount-some, 
		.termcount-none {
			font-size: 12px;
			background-color: #555;
			color: white;
			display: inline-block;
			margin: 3px;
			padding: 2px 4px;
			line-height: 14px;
			border-radius: 3px;
		}

		.termcount-none {
			background-color: #ccc;
		}

		.filter-item {
			display: block;
			background-color: #373869;
			color: white;
			margin: 6px 0;
			padding: 6px;
			@extend .z-depth-2;
		}
	}

	.term-checkbox-wrap {
		margin-bottom: 6px;
		label {
			color: #333;
		}
	}

	.append-zone-filter .btn {
		margin-bottom: 12px;
		width: 100%;
	}

	.orgs-filter-list h2 {
		font-size: 24px;
		font-weight: bold;
	}

	#itrend-home {
		.itrend-section-title {
			border-bottom: 1px solid #373869;
			display: inline-block;
		}
		.row-buttons {
			margin-top: 48px;
		}
	}

	.notfound-actors {
		padding: 24px;
	}

	.itrend-email-fixes {
		text-align: center;
		color: #333;
		padding: 12px 24px;
		margin: 32px 120px;
		border: 1px dashed #555;
		a {
			color: #333;
			text-decoration: underline;
			font-weight: bold;
		}
	}

	@import 'buttons';

}


